@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .message {
        display: flex;
        align-items: center;
    } */

    .sent {
        align-items: center;
        flex-direction: row-reverse;
    }

    .sent p {
        color: white;
        /* align-self: flex-end; */
    }

    .received {
        align-items: center;
        
    }
    .received p {
        /* align-items: center; */
        color: black;
    }
}
